apiVersion: v1
kind: Service
metadata:
  name: ${{values.name}}
  labels:
    app: ${{values.name}}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: ${{values.name}}
